<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      @for(cat of (categories$ | async); track cat){
        <a mat-list-item [routerLink]="['category', cat]">{{cat}}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ecom</span>
    </mat-toolbar>
    <!-- Add Content Here -->
     <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
